﻿@model Standups.Models.SUPModels.SUPQuestion

@{
    ViewBag.Title = "Details";
}

<h2>Question</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SubmissionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubmissionDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Question)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Question)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>
    </dl>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
    <h4>Student Responses</h4>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SUPComments.FirstOrDefault().SubmissionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SUPComments.FirstOrDefault().AdvisorRating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SUPComments.FirstOrDefault().Comment)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.SUPComments)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SubmissionDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AdvisorRating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comment)
                </td>
                <td>Change Advisor Rating
                  @*  @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                *@
                </td>
            </tr>
        }

    </table>

</div>

