﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Standup Meeting Reports</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    @RenderSection("HeadContent", false)
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Standups", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null )</li>
                    <!--li>@Html.ActionLink("AdminHome", "Index") </li-->
                    <li>@Html.ActionLink("Grading","Index","Grading")</li>
                    <li>@Html.ActionLink("Users", "Index", "Users" ) </li>
                    <li>@Html.ActionLink("Advisors", "Index", "Advisors" ) </li>
                    <li>@Html.ActionLink("Groups", "Index", "Groups" ) </li>
                    <li>@Html.ActionLink("Reports", "Index", "Reports" ) </li>
                    <li>@Html.ActionLink("Questions", "Index", "Questions") </li>
                    <li>@Html.ActionLink("Comments", "Index", "Comments") </li>

                </ul>
                @*@Html.Partial("_LoginPartial")  Not working because of javascript and not sure how to fix links*@
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        
    </div>

    @*jquery is loaded twice for some reason (by default I mean), once above in the head and this one
        we don't need both*@
   @*  @Scripts.Render("~/bundles/jquery") *@ 
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>