﻿@model Standups.Models.SUPModels.SUPUser

@{
    ViewBag.Title = "Your Account";
}

<h2>Your Account</h2>

<div>
    <hr />
    @if (User.IsInRole("Admin"))
    {
        <p>You are the administrator of this site.</p>
    }
    else
    {
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.SUPGroup.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SUPGroup.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FirstName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LastName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LastName)
            </dd>

        </dl>
    }
    
</div>
<p>
    @Html.ActionLink("Back to Home", "Index", "Home")
</p>
