﻿
@{
    ViewBag.Title = "Select Your Group";
}

<h2>Select Your Group</h2>

@if (User.IsInRole("Admin"))
{
    <p>You are the administrator of this site.</p>
}
else
{
    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken();

        <div class="form-horizontal">
            <hr />

            <div class="form-group">
                @Html.Label("Select your Group", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("SUPGroupID", null, htmlAttributes: new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
}

    


<div>
    @Html.ActionLink("Back to Home", "Index", "Home")
</div>
