﻿@using Microsoft.AspNet.Identity

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    @RenderSection("HeadContent", false)
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Standups", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (User.IsInRole("Admin"))
                    {
                        <!--li>@Html.ActionLink("Home", "Index", "Home")</li-->
                        <li>@Html.ActionLink("AdminHome", "Index", new { area = "Admin", controller = "Admin" }) </li>
                        <!--li>@Html.ActionLink("Grading", "Index", new { area = "Admin", controller = "Grading" })</li>
                        <li>@Html.ActionLink("Users", "Index", new { area = "Admin", controller = "Users" }) </li>
                        <li>@Html.ActionLink("Advisors", "Index", new { area = "Admin", controller = "Advisors" }) </li>
                        <li>@Html.ActionLink("Groups", "Index", new { area = "Admin", controller = "Groups" }) </li>
                        <li>@Html.ActionLink("Reports", "Index", new { area = "Admin", controller = "Reports" }) </li-->
                    }
                    else
                    {
                        <!--li>@Html.ActionLink("Home", "Index", "Home")</li-->
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <div class="row">
            <div class="col-md-8">
                <hr />
            </div>
        </div>
        <footer>
            <p>&copy; 2017 - CS 460/1/2 Software Engineering - Western Oregon University</p>
        </footer>
    </div>

    @* @Scripts.Render("~/bundles/jquery") *@
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
