﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error</h1>

<p class="text-danger">We've encountered a problem.  It's either our fault :-( or there was a problem with the input on the page you visited.  
    Either way, please hit the back button and try again.</p>

@Html.ActionLink("StandUps Home", "Index", "Home", null, new { @class = "btn btn-primary", role = "button" })