﻿
@model IEnumerable<Standups.Models.SUPModels.SUPQuestion>

@{ 
    
}

<h2>Open Questions</h2>
<p>Please provide some feedback on the course.  Responses are <strong>anonymous and public</strong>.  
    Click a question to provide your response and then rate other responses.</p>
<ul class="list-group">
    @if (Model.Count() == 0)
    {
        <li class="list-group-item disabled">There are no questions at the moment.</li>
    }
    @foreach (var q in Model)
    {
        var linkText = $"{q.Question} <span class=\"badge\">{q.SUPComments.Count()}</span>";
        <li class="list-group-item"><strong>Q:</strong> 
            <a href="@Url.Action("Create","UserComments", new { questionID = q.ID })">
                @q.Question <span class="badge">@q.SUPComments.Where(c => c.AdvisorRating > 0).Count()</span>
            </a>
        </li>
    }
</ul>
<p>@Html.ActionLink("Review and Rate Comments", "Rate", "UserComments", null, htmlAttributes: new { @class = "btn btn-success" })</p>
