﻿@model Standups.Models.SUPModels.SUPMeeting

@{
    ViewBag.Title = "SUP Meeting Form";
    Model.ReadOnly = true;
}

<div class="page-header">
    <h1>Stand-Up Meetings <small>Report Form</small></h1>
</div>

<div class="container-fluid">
    @Html.Partial("ReportDetailsPartial", Model)
    <div>
        @Html.ActionLink("Back to All Reports", "Index")
    </div>
</div>

