﻿@model Standups.Models.SUPViewModels.MeetingsViewModel

@{
    ViewBag.Title = "Index";
}

@section HeadContent
{
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.js"></script>
}

@section scripts
{
    <script>
        $(document).ready(function ()
        {
            //console.log("running datatables...");
            $('#reports_table').DataTable();
        });
    </script>
}

<div class="container-fluid">
    <div class="page-header">
        <h1>Stand-Up Meetings <small>Past Reports</small></h1>
    </div>

    <div class="col-xs-12 col-md-12">
        <table class="table" id="reports_table">
            <thead>
                <tr>
                    <th></th>
                    <th>
                        @Html.DisplayNameFor(model => model.Meetings.FirstOrDefault().SUPUser.FullName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Meetings.FirstOrDefault().SubmissionDate)
                    </th>
                    <th>
                        Day
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Meetings.FirstOrDefault().Completed)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Meetings.FirstOrDefault().Planning)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Meetings.FirstOrDefault().Obstacles)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Meetings)
                {
                        <tr>
                            <td style="width:80px;">
                                <div class="btn-group btn-group-xs" role="group" aria-label="Details and Delete" style="display: inline;">
                                    <a href="@Url.Action("Details", "Reports", new { id = item.ID })" class="btn btn-default">
                                        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                                    </a>
                                    <a href="@Url.Action("Delete", "Reports", new { id = item.ID })" class="btn btn-default">
                                        <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
                                    </a>
                                </div>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SUPUser.FullName)
                            </td>
                            <td>
                                @item.TimeStampInPacificTimeZone.ToString("MM/dd/yyyy @ H:mm") @item.PSTorPDT
                            </td>
                            @if (item.TimeStampMeetsCriteria(Model.classtime, Model.classdays))
                            {
                                <td class="success">@item.DayOfWeekString</td>
                            }
                            else
                            {
                                <td class="info">@item.DayOfWeekString</td>
                            }
                            <td>
                                @Html.DisplayFor(modelItem => item.Completed)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Planning)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Obstacles)
                            </td>
                        </tr>
                    }
            </tbody>
        </table>
    </div>

</div>


@*
    <a href="@Url.Action("Details", "Reports", new { id = item.ID })" class="btn btn-sm">
                                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                                </a>
                                <a href="@Url.Action("Delete", "Reports", new { id = item.ID })" class="btn btn-sm">
                                    <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
                                </a>
*@