﻿@model Standups.Models.SUPModels.SUPGroup

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SUPGroup</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SUPAcademicYear.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SUPAcademicYear.Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SUPAdvisor.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SUPAdvisor.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Motto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Motto)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
