﻿@model Standups.Models.SUPModels.SUPComment

@{
    ViewBag.Title = "Comments";
    var questionText = Model.SUPQuestion.Question;
}

<div class="page-header">
    <h1>Feedback <small>Comments</small></h1>
</div>

<div class="container-fluid">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.SUPQuestionID)
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    @Html.LabelFor(model => model.Comment, questionText, htmlAttributes: new { @class = "control-label" })
                    @Html.TextAreaFor(model => model.Comment, 5, 20, htmlAttributes: new { @class = "form-control", style = "min-width: 80%" })
                    @Html.ValidationMessageFor(model => model.Comment, "", new { @class = "text-danger" })
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    }
</div>
