﻿
@{
    ViewBag.Title = "Question Unavailable";
}

<div class="page-header">
    <h1>Feedback <small>Comments</small></h1>
</div>

<div class="container-fluid">
   
        <div class="row">
            <div class="col-md-12">
                <p>Sorry, that question is no longer open for comments or it doesn't exist.</p>
            </div>
        </div>
</div>