﻿@model Standups.Models.SUPModels.SUPQuestion

@{
    ViewBag.Title = "Thanks";
}

<div class="page-header">
    <h1>Feedback <small>Comments</small></h1>
</div>

<div class="container-fluid">

    <div class="row">
        <div class="col-md-8">
            <h3>Thank you!</h3>
            <p>Your comment has been saved and should appear in the list of all comments soon.  While you're here, take a moment to read and rate other comments:</p>
            <p>@Html.ActionLink("Review and Rate Comments","Rate", new { id = Model.ID }, htmlAttributes: new { @class = "btn btn-success"})</p>
            <p>@Html.ActionLink("Return to Home page","Index","Home")</p>
        </div>
    </div>
</div>