﻿﻿@{
    ViewBag.Title = "SUP Reports";
}

<div class="page-header">
    <h1>Stand-Up Meetings <small>Report Generator</small></h1>
</div>
@using (Html.BeginForm())
{
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <select id="select-user" name="select-user" class="form-control">
                    <option value="0">Select Member</option>
                </select>
            </div>
            <div class="col-md-4">
                <select id="select-group" name="select-group" class="form-control">
                    <option value="0">Select Group</option>
                </select>
            </div>
            <div class="col-md-4">
                <select id="select-advisor" name="select-advisor" class="form-control">
                    <option value="0">Select Advisor</option>
                </select>
            </div>
        </div>
    </div>
}

<p class="alert-warning" id="message"></p>

<div class="container table-responsive hidden" id="supcontainer">
    <table class="table table-striped" id="suptable">
        <thead>
            <tr>
                <th>View Report</th>
                <th>Submission Date</th>
                <th>Name</th>
                <th>Group</th>
                <th>Advisor</th>
                <th>Completed</th>
                <th>Planning</th>
                <th>Obstacles</th>
            </tr>
        </thead>
        <tbody>
            @*Filled in by Javascript*@
        </tbody>
    </table>
</div>

<script>

    window.onload = function () { console.log("onload()"); }
    window.onpopstate = function (event)
    {
        console.log("onpopstate()");
        if (event.state)
        {
            console.log("    process our back button");
        }
        else
        {
            console.log("    triggered by page load");
        }
    }
    window.onhashchange = function () { console.log("onhashchange()"); }

    @*Populate the drop-downs with data in JSON format:
     jsonData = {
  "Users": [{"Name": "Lyubov Belobrovchuk","Id": 1},...],
  "Groups": [{"Name": "9 Lives Software","Id": 7},...],
  "Advisors": [{"Name": "Mitch Fry","Id": 1}, ...]}
     *@
    function populateSelects(jsonData)
    {
        // Users drop-down
        var users = jsonData.Users;
        for (var i = 0; i < users.length; i++) {
            $("#select-user").append($("<option>").text(users[i].Name).attr("value", users[i].Id));
        }
        // Groups drop-down
        var groups = jsonData.Groups;
        for (var i = 0; i < groups.length; i++) {
            $("#select-group").append($("<option>").text(groups[i].Name).attr("value", groups[i].Id));
        }
        // Advisors drop-down
        var advisors = jsonData.Advisors;
        for (var i = 0; i < advisors.length; i++) {
            $("#select-advisor").append($("<option>").text(advisors[i].Name).attr("value", advisors[i].Id));
        }
    }

    @* Highlight all None, N/A etc in Completed and Planning sections *@
    function findAndReplaceNones(inText)
    {
        return inText.replace(/(None)/g, '<span class="highlightNone">$1</span>')
                     .replace(/(N\/A)/g, '<span class="highlightNone">$1</span>')
            .replace(/(Nothing)/g, '<span class="highlightNone">$1</span>')
            .replace(/(nothing)/g, '<span class="highlightNone">$1</span>');
    }

    @*Helper function to add one row to the table showing possible SUP reports*@
    function addRowToSUPTable(i, item)
    {
        var link = $('<a>', {
            href: "/Admin/Reports/Details/?id=" + item.ID,
            text: "View"
        });

        var tdDate = $("<td>");
        if (item.MeetsCriteria)
        {
            tdDate.addClass("success");
        }

        $("<tr>").append(
            $("<td>").append(link),
            tdDate.text(item.Date + " " + item.DOW),
            $("<td>").text(item.Name),
            $("<td>").text(item.Group),
            $("<td>").text(item.Advisor),
            $("<td>").html(findAndReplaceNones(item.Completed)),
            $("<td>").html(findAndReplaceNones(item.Planning)),
            $("<td>").text(item.Obstacles))
            .appendTo('#suptable');
    }

    @*Change listener function. Processes JSON data to build the table.  Expects:
        sups = [{"ID": 7,"Date": "5/19/2016 3:15:43 PM","Name": "Aaron Duncan",
                "Group": "InfoTek","Advisor": "Fry"},...]
     *@
    function selectUGA(sups)
    {
        // Get rid of all existing rows
        $("#suptable tbody").empty();
        if (sups.length > 0)
        {
            $.each(sups, addRowToSUPTable);
            $("#supcontainer").removeClass("hidden");
            $("#message").empty();
        }
        else
        {
            $("#supcontainer").addClass("hidden");
            $("#message").text("No Stand Up Meeting Reports found based on your selection.");
        }
    }

    @*Main page load function*@
    $(document).ready(function () {
        // make ajax call to get data needed to populate drop-downs
        $.ajax({
            type: "GET",
            dataType: "json",
            url: "/Admin/Grading/GetUGA",
            success: populateSelects
        });

        // add change listener to users drop-down
        $("#select-user").change(function () {
            //var u = this.value;
            var u = $(this).val();
            var ui = $("#select-user").prop("selectedIndex");
            console.log("user selected: " + u + " index: " + ui);
            $.ajax({
                type: "GET",
                dataType: "json",
                url: "/Admin/Grading/GetSUPs/?user=" + u,
                success: selectUGA
            });
            $("#select-group option[value=0]").prop("selected", true);
            $("#select-advisor option[value=0]").prop("selected", true);
            // set URI fragment for this selection: "u"ser + id
            //window.location.hash = "u" + u;
            // push new state onto history that contains this info
            // push initial state
            var newurl = window.location + "/u" + u;
            history.pushState({ default: true }, "Some Title -- User", newurl);
        });

        // add change listener to groups drop-down
        $("#select-group").change(function () {
            //var g = this.value;
            var g = $(this).val();
            $.ajax({
                type: "GET",
                dataType: "json",
                url: "/Admin/Grading/GetSUPs/?group=" + g,
                success: selectUGA
            });
            $("#select-user option[value=0]").prop("selected", true);
            $("#select-advisor option[value=0]").prop("selected", true);
            // set URI fragment for this selection: "g"roup + id
            //window.location.hash = "g" + g;
        });

        // add change listener to advisors drop-down
        $("#select-advisor").change(function () {
            //var a = this.value;
            var a = $(this).val();
            $.ajax({
                type: "GET",
                dataType: "json",
                url: "/Admin/Grading/GetSUPs/?advisor=" + a,
                success: selectUGA
            });
            $("#select-user option[value=0]").prop("selected", true);
            $("#select-group option[value=0]").prop("selected", true);
            // set URI fragment for this selection: "a"dvisor + id
            //window.location.hash = "a" + a;
        });

        // Read the URL fragment to see if we're coming back to a previously
        // viewed page.  Valid form is: #u12, or #g5 or #a1.  Anything else
        // does nothing
        var frag = window.location.hash;
        console.log("Fragment: " + frag);
        if (frag)
        {
            var kind = frag.charAt(1);
            var valId = parseInt(frag.substr(2), 10);
            console.log(kind + ": " + valId);
            if (!isNaN(valId))
            {
                switch (kind) {
                    case "u":
                        console.log("need to select user " + valId);
                        $("#select-user option[value=" + valId + "]").prop("selected", true);
                        $("#select-user").val("" + valId).trigger("change");
                        break;
                    case "g":
                        console.log("need to select group " + valId);
                        $("#select-group").val(valId).trigger("change");
                        break;
                    case "a":
                        console.log("need to select advisor " + valId);
                        $("#select-advisor").val(valId).trigger("change");
                        break;
                }
            }
        }

    });
</script>