﻿@{
    ViewBag.Title = "Confirm Email";
}

<h2>@ViewBag.Title</h2>
<div>
    <p>
        Thank you for confirming your email. Please @Html.ActionLink("Click here to return to the home page", "Index","Home",null, new {@class = "btn btn-success btn-lg" })
    </p>
</div>
@* @Html.ActionLink("Click here to Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }) *@