﻿@model Standups.Models.SUPModels.SUPComment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SUPComment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SUPQuestion.Question)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SUPQuestion.Question)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubmissionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubmissionDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdvisorRating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdvisorRating)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
