﻿@model Standups.Models.SUPModels.SUPMeeting

@{
    ViewBag.Title = "SUPForm";
    Model.ReadOnly = false;
}

<div class="page-header">
    <h1>Stand-Up Meetings <small>Report Form</small></h1>
</div>

<div class="container-fluid">
            @using (Html.BeginForm("Create", "Meetings", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.Partial("ReportDetailsPartial", Model)
                <button type="submit" class="btn btn-primary">Submit</button>
            }
    <div>
        @Html.ActionLink("Back to All Reports", "Index")
    </div>
</div>

