﻿@{
    ViewBag.Title = "About";
}
<h2>Standup Meeting Report Submitter</h2>
<div class="row">
    <div class="col-md-8">
        <p>
            This application is used by the Software Engineering Senior Capstone course at Western Oregon University for
            students to turn in quick reports on their daily standup meetings.
        </p>
    </div>
</div>
