﻿
@model Standups.Models.SUPViewModels.HomePageViewModel

@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Standup Meetings";
}

<!--div class="jumbotron">
    <h1>Software Engineering I, II &amp; III</h1>
    <p class="lead">Welcome to the Standup Meeting Reporter for the Senior Project class at Western Oregon University</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div-->

<div class="row">
    <div class="col-md-12">
        <p>&nbsp;</p>
    </div>
</div>
@if (ViewBag.ShowTemporaryMessage)
{
    <p class="text-success">@ViewBag.StatusMessage</p>
}

@if(!User.Identity.IsAuthenticated)
{
    @*Present a welcome to non-registered visitors*@
    <div class="row">
        <div class="col-md-8">
            <h2>Welcome</h2>
            <p>
                Please register so you can begin filling out meeting reports for class!
            </p>
            <p>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "btn btn-warning btn-lg" })</p>
        </div>
    </div>
}
else
{
    if (ViewBag.NeedsEmailConfirmed)
    {
        <div class="row">
            <div class="col-md-8">
                <div class="alert alert-warning" role="alert">
                    <p>Confirm your email? If you forget your password you must have a confirmed email to recover your account.</p>
                    @using (Html.BeginForm("SendConfirmationEmail", "Account", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @*The post action method needs a URL to redirect the user back to this page*@
                        @Html.Hidden("urlOfReferrer",Request.Url.PathAndQuery)
                        <button type="submit" class="btn btn-warning">Send Confirmation Email</button>
                    }
                </div>
            </div>
        </div>
    }

    if (ViewBag.NeedsGroup)
    {
        @*@User.Identity.GetUserName()*@
        <div class="row">
            <div class="col-md-8">
                <p class="lead">Before you can start filling out meeting reports you need to select your group: </p>
                <p>@Html.ActionLink("Set your Group", "SelectGroup", "MyAccount", routeValues: null, htmlAttributes: new { @class = "btn btn-warning btn-lg" }) </p>
            </div>
        </div>
    }
    else
    {
        <div class="row">
            <div class="col-md-4">
                <h2>New meeting report</h2>
                <p>
                    Have you filled out today's stand up meeting report yet?
                </p>
                <p>@Html.ActionLink("New report", "Create", "Meetings", null, new { @class = "btn btn-default" }) </p>
            </div>
            <div class="col-md-4">
                <h2>Past reports</h2>
                <p>Need to see your past meeting reports?</p>
                <p>@Html.ActionLink("Past reports", "Index", "Meetings", null, new { @class = "btn btn-default" }) </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                @Html.Partial("QuestionsViewPartial", Model.Questions)
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#updates-items" id="updates">Website Updates</button>
                <div class="list-group collapse" id="updates-items">
                    <div class="list-group-item">
                        <p class="list-group-item-heading">Sunday June 11, 2017</p>
                        <p class="list-group-item-text text-muted">
                            Added a Question/Comment feature to the site.  Questions can be posed and users can respond with comments.  
                            Comments are anonymous by design (see  <a href="~/Assets/Standups_ER_Diagram.png">ER Diagram</a>). Any logged in user can rate open questions with a thumbs up or down.
                        </p>
                    </div>
                    <div class="list-group-item">
                        <p class="list-group-item-heading">Thursday May 11, 2017</p>
                        <p class="list-group-item-text text-muted">
                            Fixed error where Daylight Savings Time was not displaying correctly.
                        </p>
                        <p class="list-group-item-text text-muted">
                            Users can now confirm their email addresses.  After doing so, password recovery is enabled.
                        </p>
                    </div>
                    <div class="list-group-item">
                        <p class="list-group-item-heading">Friday April 28, 2017</p>
                        <p class="list-group-item-text text-muted">
                            Dates now show correctly and are highlighted green when reports are turned in before
                            class starts OR sometime the previous day after class starts.
                        </p>
                        <p class="list-group-item-text text-muted">
                            Custom error pages are presented rather than the ugly default ones.
                        </p>
                        <p class="list-group-item-text text-muted">
                            Pagination and other features when viewing past reports, courtesy of <a href="https://www.datatables.net/">DataTables</a> (thanks Team Pyrus!).
                        </p>
                    </div>

                </div>
            </div>
        </div>
    }
}

@section scripts 
{
    <!--script type="text/javascript">
        $("#updates-items .list-group-item").addClass("hidden");
        $("#updates").on("click", function () { $("#updates-items div.list-group-item").toggleClass("hidden"); });
    </script-->
}
