﻿

@{
    ViewBag.Title = "500: Internal Server Error";
    Response.StatusCode = 500;
}

<h1>Internal Server Error</h1>
<h2>500</h2>

<p>We've encountered a problem.  It's either our fault :-( or there was a problem with the input on the page you visited.  Either way, please hit the back button and try again.</p>

@Html.ActionLink("StandUps Home", "Index", "Home", null, new { @class = "btn btn-primary", role = "button" })

