﻿
@{
    ViewBag.Title = "404: Not Found";
    Response.StatusCode = 404;
}

<h1>Page Not Found</h1>
<h2>404</h2>

<p>We're sorry, the requested page does not exist.</p>

@Html.ActionLink("StandUps Home", "Index", "Home",null, new { @class="btn btn-primary", role="button" })

